:root {
  --accent-color: #2196f3;
  --title-text-color: #000000;
  --secondary-tetx-color: #757575;
  --begraut-ccolor: #ffffff;
}

body {
  background-color: var(--begraut-ccolor);
  color: var(----secondary-tetx-color);
  font-family: Roboto, sans-serif;
}
a {
  text-align: none;
}
.list {
  list-style: none;
}

/* шапка */
.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
}
.hed-logo {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.navigation {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: var(--begraut-ccolor);
  font-family: Raleway, cursive;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
}

.adres {
  color: var(--begraut-ccolor);
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
}

.adres:hover,
.adres:focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
}

.footer-contacts {
  color: rgb(255, 255, 255, 60%);

  font-size: 14px;
  line-height: 1.7px;

  letter-spacing: 0.03em;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
